---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Page not found - 404">
  <body>
    <div class="sub-body">
      <h1>Page not found - 404</h1>
      <p>
        Looks like something is wrong with the URL. Let's take you back to the <a
          href="/">Homepage</a
        >!
      </p>
    </div>
  </body>
</Layout>