---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About us">
  <body>
    <div class="p-10">
      <h1>About us</h1>
      <p>
        Looks like something is wrong with the URL. Let's take you back to the <a
          href="/">Homepage</a
        >!
      </p>
    </div>
  </body>
</Layout>