---
import Layout from "@layouts/Layout.astro";
import aboutPage from '../../site/content/about.yml';
import Header from "@components/utils/Header.astro";
---

<Layout title="About us">
  <body>
    <div class="p-10">
      <h1>About us</h1>
      <div>{ aboutPage.description }</div>
      <Header text="Our beliefs" />
      <div>{ aboutPage.beliefs }</div>
      <Header text="Pastoral care" />
      <div>{ aboutPage.pastoralCareDescription }</div>
      { aboutPage.pastoralCare.map( (care: any) => (
            <Header text={care.typeOfCare} />
            <div>{ care.description }</div>
          )
        )
      }
    </div>
  </body>
</Layout>