---
import Layout from "@layouts/Layout.astro";
import aboutPage from '../../site/content/about.yml';
import Header from "@components/utils/Header.astro";
import PastoralCareCard from "@components/PastoralCareCard.astro";
---

<Layout title="About us">
  <body>
    <div class="p-10">
      <h1>About us</h1>
      <section class="section-standard">
        <Header text="Our beliefs" />
        <p>{ aboutPage.beliefs }</p>
      </section>
      <section class="section-standard">
        <Header text="Types of pastoral care" />
        <p>{ aboutPage.pastoralCareDescription }</p>
        <p>Consider <a href="/contact#Contact%20the%20church%20office">contacting us</a> for the following types of care:</p>
        <div class="pastoral-care-container">
          { aboutPage.pastoralCare.map( (care: any) => (
                <PastoralCareCard care={care} />
              )
            )
          }
        </div>
      </section>
    </div>
  </body>
</Layout>

<style>
  .contact-section { 
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .about-page-description { 
    padding-left: 20px;
    padding-bottom: 20px;
    max-width: 400px;
  }

  .pastoral-care-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 2rem;
  }
</style>