---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Calendar">
  <body>
    <div class="sub-body">
      <h1>Calendar</h1>
      <p>
        Calendar component goes here...
      </p>
    </div>
  </body>
</Layout>