---
import Layout from "@layouts/Layout.astro";
import contactPage from '../../site/content/contact.yml';
import Header from "@components/utils/Header.astro";
import { Icon } from 'astro-icon/components';
import WindowImage from "@components/WindowImage.astro";
import StaffInfoCard from "@components/StaffInfoCard.astro";
---

<Layout title="Contact">
  <body>
    <div class="p-10">
      <h1>Contact</h1>
      <Header text="Contact the church office" />
      <div class="flex contact-info-container">
        <div class="contact-info-info-container">
          <div class="contact-info">
            <Icon name="mdi:home" class="contact-info-icon" /> { contactPage.address } 
          </div>
          <div class="contact-info"> 
            <Icon name="mdi:email" class="contact-info-icon" /> { contactPage.email } 
          </div>
          <div class="contact-info"> 
            <Icon name="mdi:phone" class="contact-info-icon" /> { contactPage.phone } 
          </div>
          <div class="contact-info"> 
            <Icon name="mdi:fax" class="contact-info-icon" />
            { contactPage.fax } (Fax)
          </div>
        </div>
      </div>
      <Header text="Meet our staff" />
      <div class="staff-container">
        {
          contactPage.staffInformation.map( (member: any) => 
            <StaffInfoCard staffMember={member} />
          )
        }
      </div>
    </div>
  </body>
</Layout>

<style>
  .contact-info-card-image-container {
    padding-top: 1rem;
    margin: auto;
  }
  .staff-container { 
    display: flex;
    flex-direction: column;
  }
</style>