---
import Layout from "@layouts/Layout.astro";
import ministryPage from '../../site/content/ministries.yml';
import Ministry from "@components/Ministry.astro";
---

<Layout title="Ministries">
  <body>
    <div class="sub-body">
      <h1>Ministries</h1>
      <div>
        {
          ministryPage.ministries.map( (ministry: any, index: number) => (
              <Ministry ministry={ministry} imageOnRight={index % 2 == 0} />
            )
          )
        }
      </div>
    </div>
  </body>
</Layout>

<style>
</style>