---
import Layout from "@layouts/Layout.astro";
import ministryPage from '../../site/content/ministries.yml';
import Header from "@components/utils/Header.astro";
---

<Layout title="Ministries">
  <body>
    <div class="p-10">
      <h1>Ministries</h1>
      {
        ministryPage.ministries.map( (ministry: any) => (
            <Header text={ministry.title} />
            <div>
              {ministry.description}
            </div>
          )
        )
      }
    </div>
  </body>
</Layout>