---
import { Icon } from 'astro-icon/components';
import { socials} from '../data/socials'
---

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    padding-bottom: 8rem;
    color: black;
  }
  .footer__socials {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .footer__socials li a {
    display: flex;
  }
  .social__icon { 
    font-size: 2.5rem;
    color: var(--color-background);
    transition: color .4s;
  }
  .social__icon:hover { 
    color: var(--color-text);
    transition: color .15s;
  }
</style>

<footer>
  <ul class="footer__socials fade-in">
    {socials.map((social) => (
      <li class="social__link">
        <a href={social.url} target="_blank" rel="noopener noreferrer">
          <Icon class="social__icon" name={social.icon} />
        </a>
      </li>
    ))}
  </ul>
</footer>