---
export interface Props {
  src: string;
}

const { src } = Astro.props;
---

<div class="container">
  
  <div class="image-container">
    <div class="img">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</div>

<style define:vars={{ image: `url("${src}")` }} >
  .container { 
    display: flex;
    justify-content: center;
  }

  .image-container { 
    height: 120%;
    width: 460px;
    overflow: hidden;
    position: relative;
    padding: 2rem 0;
    padding-bottom: 2.25rem;
  }

  .image-container .img { 
    margin: auto;
    width: 430px;
    height: 380px;
    display: flex;
    justify-content: space-between;
  }

  .image-container span { 
    width: 19%;
    height: 90%;
    background: var(--image);
    background-size: cover;
    border-radius: 20px / 3%;
    box-shadow: 8px 8px 4px rgba(0,0,0,0.5);
  }

  /* version 1 */
  .image-container span:nth-child(1) { 
    background-position: 0%;
    border-radius: 100% 1% 40px 2px;
    align-self: end;
  }

  .image-container span:nth-child(2) { 
    background-position: 25% 48px;
    border-radius: 100% 15px 60px / 30px 15px 40px 25px;
    height: 85%;
  }

  .image-container span:nth-child(3) { 
    background-position: 50% 32px;
    /* border-radius: 20px 100% 15px 25px / 113px; */
    border-radius: 20px 60px / 40px;
    height: 95%;
  }

  .image-container span:nth-child(4) { 
    background-position: 75% 0px;
    border-radius: 1px 100% 1px 11px;
    align-self: end;
  }
  
  /* version 2 */
  /* .image-container span:nth-child(1) { 
    background-position: 0%;
    border-radius: 40% 3px 5px 40%;
  }

  .image-container span:nth-child(2) { 
    background-position: 25% -32px;
    align-self: end;
  }

  .image-container span:nth-child(3) { 
    background-position: 50%;
    border-radius: 20px 60px / 40px;
  }

  .image-container span:nth-child(4) { 
    background-position: 75% -16px;
    border-radius: 5px 40% 40% 5px;
    align-self: center;
  } */

  /* gothic window edition */
  /* .image-container span:nth-child(1) { 
    background-position: 0%;
    border-radius: 100% 3px 10px 10px;
  }

  .image-container span:nth-child(2) { 
    background-position: 25% -32px;
    border-radius: 3px 100% 10px 10px;
    align-self: end;
  } */

</style>
