---
export interface Props {
  staffMember: any;
}

const { staffMember } = Astro.props;
import { Icon } from 'astro-icon/components';
---

<div class="card">
  <div class="container">
    <div class="image-container">
      <img src="headshot.jpg" />
    </div>
    <div class="staff-info">
      <div class="font-semibold">{ staffMember.name }</div>
      <div>{ staffMember.title }</div>
      {
        staffMember.phone && 
        <div class="contact-info staff-contact-info"> 
            <Icon name="mdi:phone" class="contact-info-icon" />
            { staffMember.phone }
          </div>
      }
      <div>
        {
          staffMember.email && 
          <div class="contact-info staff-contact-info"> 
              <Icon name="mdi:email" class="contact-info-icon" />
              { staffMember.email }
            </div>
        }
      </div>
    </div>
  </div>
  { staffMember.description && 
    <p class="description">{ staffMember.description }</p>
  }
</div>


<!-- define:vars={{ image: `url("${src}")` }}  -->
<style>
  .container { 
    display: flex;
  }

  .image-container { 
    margin: 1.5rem;
    width: 250px;
    overflow: hidden;
    position: relative;
  }

  .image-container img { 
    border-radius: 100%;
  }

  .card { 
    color: var(--color-background);
    background: #ffffff;
    border-radius: 5px;
    width: 100%;
    margin-top: 1.5rem;
    box-shadow: 8px 8px 4px rgba(0,0,0,0.5);
  }

  .description { 
    padding: 0rem 3rem;
    padding-bottom: 2rem;
    font-size: 16px;
  }

  .staff-info {
    padding: 1rem;
    padding-right: 1.5rem;
    padding-left: 0;
    font-size: 18px;
  }

  .staff-contact-info { 
    padding: 0.1rem 0.5rem;
    padding-left: 0;
    padding-right: 0;
  }
</style>
