---
export interface Props {
  text: string;
}

const { text } = Astro.props;
const encodedText = encodeURI(text);
const headerLink = "#" + encodedText;

---

<script>
  function copyURI(href: any) {
    navigator.clipboard.writeText(href).then(() => {
        /* clipboard successfully set */
    }, () => {
        /* clipboard write failed */
    })
  };

  const links = document.querySelectorAll('.hash-link');

  links.forEach((link) => {
    link.addEventListener('click', () => {
      if (link instanceof HTMLAnchorElement) 
        copyURI(link.href);
    });
  });
</script>

<div id={encodedText} class="header">
  <a href={headerLink} class="font-light"
    >{text} <span class="hash-link">#</span>
  </a> 
</div>

<style>
  .header { 
    border-bottom: 1px solid var(--color-background-border);
    font-size: 20px;
  }
  
  a {
    display: inline-flex;
    width: fit-content;
    font-size: 26px;
  }

  .hash-link {
    opacity: 0;
    padding-left: 0.5rem;
    transition: opacity 0.2s ease-in;
    user-select: none;
  }

  .hash-link:hover { 
    opacity: 1;
  }

  a:hover .hash-link { 
    opacity: 1;
  }
</style>
